.flex {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.margin {
  margin-top: 200px;
}

.align {
  align-self: center;
  justify-self: center;
}

.yellow {
  /* background-color: #3d9aa7; */
  background-color: #0ec6ccf5;
}

.TableCards {
  width: 300px;
}
